@tailwind base;
@tailwind components;
@tailwind utilities;

/* 全体 */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NavBody */
.navBody {
  background-color: red;
  color: #000;
  font-size: clamp(16px,2.5vw,24px);
  height: 100px;
  overflow: hidden;
  width: 100%;
}

.navBody, .navBody h3 {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.navBody:before {
  background-color: #fff;
  height: 50%;
  top: calc(50% + 6px);
}

.navBody h3 {
  background-color: #fff;
  border: 6px solid #000;
  border-radius: 50%;
  height: 10em;
  text-align: center;
  width: 10em;
  z-index: 1;
}

.navBody:after {
  background-color: #000;
  height: 6px;
  top: 50%;
}

.navBody:after, .navBody:before {
  content: "";
  position: absolute;
  width: 100%;
}

/* PokemonFilter */

.PokemonFilter {
  padding: 20px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}

.filter-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.filter-item {
  display: flex;
  flex-direction: column;
}

.filter-item label {
  font-size: 14px;
  color: #333;
  margin-bottom: 8px;
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  font-size: 24px;
}

/* PokemonList */
.pokemonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* PokemonItem */
.pokemonItem {
  display: flex;
  align-items: center;
  margin: 10px;
}

.pokemonItem img {
  margin-right: 10px;
}
